$base_color: #3A5F56;
$second_color: #292C32;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400px;
}

.btn{
    color: #fff;
    background-color: $base_color;
    border-radius: 6px;
    padding: 10px 18px;
}

//--Header--//

.header{

    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        font-family: Roboto;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__menu{
        display: flex;
    }
    
    &__link{
        color: $base_color;
        font-size: 16px;

        &:hover{
            color: red;
        }
    }

    &__item{
        margin-right: 30px;
    }

    &__cart{
        display: flex;
        gap: 8px;
        &::before{
            content: "";
            background: url(../img/ph_trash.svg);
            display: block;
            width: 17px;
            height: 17px;
        }
        &::after{
            content: "0";
            color: $base_color;
            background-color: #fff;
            padding: 0 6px;
            border-radius: 50vh;
        }
    }
}

//--Main--//

.main{
            background: url(../img/ph_back.png) no-repeat center center / cover;
            padding: 100px 0;

    &__wrap{
        display: flex;
        gap: 64px;
        align-items: center;
    }

    &__title{
        color: $base_color;
        font-size:  48px;
        margin-bottom: 15px;
    }

    &__text{
        color: $second_color;
        font-size: 16px;
        margin-bottom: 27px;
    }
}

//!--Services--//
.services{
    padding: 100px 0;
    background: url(../img/ph_bg2.png) no-repeat center center / cover;

    &__zip{
        text-align: center;
        margin-bottom: 15px;
    }

    &__title{
        color: $base_color;
        font-size: 32px;
        margin-bottom: 11px;
        text-align: center;
    }

    &__text{
        color: $second_color;
        font-size: 16px;
        max-width: 590px;
        margin: 0 auto;
        &_center{
            text-align: center;
        }
    }

    &__row{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__card{
        max-width: 378px;
        border-radius: 16px;
        background-color: #F4F3F0;
        padding: 30px;
    }

    &__icon{
        width: 48px;
        height: 48px;
        margin-bottom: 9px;
    }

    &__subtitle{
        color: $base_color;
        font-size: 24px;
        margin-bottom: 6px;
    }

    &__read{
        color: $base_color;
        font-size: 17px;
        gap: 5px;
        margin-top: 17px;
        align-items: center;
        display: flex;
        &::after{
            content: "";
            background: url(../img/ph_arrow.svg) no-repeat center center / cover;
            display: block;
            width: 20px;
            height: 10px;
        }
    }
}

//--Store--//

.store{
    padding-top: 134px;
    background: url(../img/Frame.png) no-repeat center center / cover;
    display: block;
    max-height: 890px;

    &__zip{
        text-align: center;
        margin-bottom: 15px;
    }

    &__title{
        text-align: center;
        color: #DB343B;
        font-size: 32px;
        padding-bottom: 11px;
    }

    &__subtitle{
        color: $second_color;
        text-align: center;
        max-width: 581px;
        margin: 0 auto;
    }

    &__block{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__icon{
        background-color: #fff;
        border-radius: 16px;
        display: block;
        width: 379px;
        height: 438px;
    }

    &__icon-title{
        color: $base_color;
        font-size: 24px;
        padding-left: 30px;
        padding-top: 29px;
    }

    &__icon-text{
        padding-left: 30px;
        padding-top: 6px;
        color: $second_color;
        font-size: 16px;
    }

    &__link{
        text-align: center;
        margin-top: 29px;
        gap: 5px;
        padding-bottom: 99px;
    }

    &__link-a{
        color: $base_color;
        font-size: 17px;
    }
}



.contact{
    background: url(../img/ph_bg3.png) no-repeat center center / cover;
    height: 459px;

    &__block{
        background-color: #F4F3F0;
        width: 800px;
        height: 259px;
        text-align: center;
        margin: 0 auto;
        border-radius: 16px;
        margin-top: 100px;
    }


    &__text{
        text-align: left;
        display: block;
        max-width: 313px;
        max-height: 101px;
        padding-top: 79px;
        padding-left: 80px;
        font-size: 28px;
    }

    &__link-d{
        text-align: right;
        vertical-align: middle;
        margin-right: 80px;
        margin-top: 20px;
    }
}

.footer{
    background-color: #292C32;
    max-height: 779px;
    padding-bottom: 100px;

    &__logo{
        text-align: center;
        padding-top: 100px;
    }

    &__block{
        margin-top: 75px;
        display: flex;
    }

    &__list-1{
        margin-bottom: 32px;
    }

    &__section-t{
        text-transform: uppercase;
        color: #B87D58;
        font-size: 14px;
        padding-bottom: 10px;
    }

    &__section{
        color: #fff;
        font-size: 16px;
        padding-bottom: 13px;
        min-width: 194px;
    }

    &__list-3{
        margin-bottom: 32px;
    }

    &__sections-2{
        padding-left: 70px;
    }

    &__list-3{
        margin-bottom: 32px;
    }

    &__sections-3{
        margin-left: 60px;
    }

    &__sections-4{
        padding-left: 50px;
    }

    &__email{
        
        &_button{
            width: 71px;
            height: 39px;
            border-radius: 10px;
            background-color: $second_color;
            color: #fff;
            position: relative;
            top: -45px;
            right: -380px;
        }
        &_t{
            width: 458px;
            height: 53px;
            border-radius: 8px;
            padding-left: 25px;
        }
    }

    &__text-b{
        display: flex;
        justify-content: left;
        gap: 16px;
        color: #fff;
        margin-top: 30px;
    }

    &__socials{
        text-align: right;
        margin-top: -30px;
    }

}
